<section class="container">

  <div class="row">
    <div class="col-12 col-md-6">
      <p><strong>Foto</strong></p>
      <p>{{ produto.foto }}</p>


      <p><strong>Desenvolvedor</strong></p>
      <p>{{ produto.desenvolvedor }}</p>

      <p><strong>Categoria</strong></p>
      <p>{{ produto.categoria }}</p>


    </div>

    <div class="col-12 col-md-6">
      <p><strong>Nome</strong></p>
      <p>{{ produto.nome }}</p>
      
      <p><strong>Descrição</strong></p>
      <p>{{ produto.descricao }}</p>
    </div>
  </div>

</section>
