<p>endereco-form works!</p>


<div class="form-inline my-2 my-lg">
    <input class="form-control mr-sm-lg" type="text" name="cep" [(ngModel)]="cep" placeholder="Buscar CEP">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="button" (click)="buscaCEP()"> Ok </button>
</div>

<div class="form-group">
    <label for="">Logradouro</label>
    <input class="form-control" type="text" name="logradouro" [(ngModel)]="endereco.logradouro">
</div>

<div class="form-group">
    <label for="">Bairro</label>
    <input class="form-control" type="text" name="bairro" [(ngModel)]="endereco.bairro">
</div>

<div class="form-group">
    <label for="">Cidade</label>
    <input class="form-control" type="text" name="localidade" [(ngModel)]="endereco.localidade">
</div>

<div class="form-group">
    <label for="">UF</label>
    <input class="form-control" type="text" name="uf" [(ngModel)]="endereco.uf">
</div>