<section class="container">

    <div class="row mb-3">
        <div class="col-12">
            <h3>Cadastro produto</h3>
        </div>
    </div>

    <form action="" class="row">

        <div class="col-12 col-md-6">

            <div class="form-group">
                <label for="nome">Nome:</label>
                <input class="form-control" type="text" name="nome" id="nome">
            </div>

            <div class="form-group">
                <label for="">Categoria:</label>
                <select class="form-control" name="categoria" id="categoria">
                    <option value="action">Ação</option>
                    <option value="adventure">Aventura</option>
                    <option value="horror">Terror</option>
                    <option value="fps">Tiro em primeira pessoa (FPS)</option>
                </select>
            </div>

            <div class="form-group">
                <label for="preco">Preço:</label>
                <input class="form-control" type="text" name="preco" id="preco">
            </div>

            <div class="form-group">
                <label for="preco">Quantidade:</label>
                <input class="form-control" type="text" name="quantidade" id="quantidade">
            </div>

            <div class="form-group">
                <label for="preco">Desenvolvedor:</label>
                <input class="form-control" type="text" name="desenvolvedor" id="desenvolvedor">
            </div>

        </div>

        <div class="col-12 col-md-6">
            <div class="form-group">
                <label for="desc">Descrição do Produto:</label>
                <textarea class="form-control" name="desc" id="desc" rows="3"></textarea>
            </div>
        
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Escolha uma Foto</label>
            </div>
        </div>

    </form>
</section>