<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Document</title>
</head>
<body ng-app="">
    <div>
        
        <input type="number" ng-model="multiplicando">

        <div ng-if="multiplicando" ng-init="multiplicadores=[1,2,3,4,5,6,7,8,9,10]">
             <p ng-repeat="multiplicador in multiplicadores">{{ multiplicando }} X {{ multiplicador }} = {{ multiplicando * multiplicador }}</p>
        </div>
        
    </div>
    <!-- <script src="js/main.js"></script> -->
</body>
</html>