<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body ng-app="tabuada">
    <div ng-controller="controlador">
        
        <input type="number" ng-model="tabInicial">
        <input type="number" ng-model="tabFinal">


        <div ng-if="tabInicial && tabFinal">
            {{ mostrarTabelas(tabInicial, tabFinal); }}

            <div ng-if="tabuadas" class="tabuadas">
                <div class="tabuada" ng-repeat="tabuada in tabuadas">
                    <div ng-repeat="multiplicador in multiplicadores">{{ tabuada }} X {{ multiplicador }} = {{ tabuada * multiplicador }}</div>
                </div>
            </div>
        </div>
        
    </div>
    <script src="js/main.js"></script>
</body>
</html>